<% include inc/header.html %>

<div class="jumbotron lf-index-jumbotron">
    <div class="container">
        <h1>Lavaflow</h1>
        <form role="form" action="/capture" method="GET">
            <% if (http.get.error) { %>
                <div class="alert alert-danger" role="alert"><%= http.get.error %></div>
            <% } %>
            <div class="form-group">
                <input type="url" name="url" class="form-control input-lg" placeholder="输入文章URL" value="<%= http.get.url || '' %>" required>
                <input type="hidden" name="selector" value="">
            </div>
            <button type="submit" class="btn btn-primary btn-lg">收录</button>
        </form>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default lf-panel lf-tags">
                <div class="panel-heading">标签索引</div>
                <div class="panel-body">
                    <% for (var i = 0; i < tags.length; i++) { %>
                        <% if (i >= 30) break; %>
                        <a href="/list?tag=<%= encodeURIComponent(tags[i][0]) %>"><span class="label label-default" style="background-color:<%= getTagColor() %>;"><%= tags[i][0] %></span></a>
                    <% } %>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default lf-panel">
                <div class="panel-heading">最新收录</div>
                <div class="panel-body">
                    <ul>
                        <% latest.forEach(function(article) { %>
                            <li><a href="/detail/<%= article.id %>"><%= article.title %></a>，贡献者：<%-: article | getContributor %></li>
                        <% }); %>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<% include inc/footer.html %>
