<% include inc/header.html %>

<div class="container">
    <% if (articles.length === 0) { %>
        <p class="lead text-center">没有找到任何你想要的数据</p>
    <% } else { %>
        <div class="lf-list">
            <% include tpl/index_list_paging.html %>
        </div>
        <% if (articles.length >= size) { %>
            <div class="lf-loading">Loading...</div>
        <% } %>
    <% } %>
</div>

<% if (articles.length >= size) { %>
<script src="/resource/lib/moment-2.7.0/moment.min.js"></script>
<script src="/resource/lib/ejs-0.8.6/ejs.min.js"></script>
<%- _ejs_templates %>
<script>
(function(window) {
    var document = window.document;
    function getScrollY() {
        return window.pageYOffset || window.scrollY || document.documentElement.scrollTop;
    }

    var page = '<%= http.get.page || 1 %>';
    var size = '<%= size %>';
    var keyword = '<%= http.get.keyword || '' %>';
    var tag = '<%= http.get.tag || '' %>';

    var $body = $('body');
    var $loading = $('.lf-loading');
    var $list = $('.lf-list');
    var scrollOffset = 200;
    var loading = false;
    var isEnd = false;

    var listRender = ejs.compile($('#_ejs_tpl_index_list_paging').html());

    $(window).scroll(function() {
        var scrollY = getScrollY();
        if (!isEnd && !loading && scrollY > ($body.height() - window.innerHeight - scrollOffset)) {
            loading = true;
            $.ajax({
                type: 'GET',
                url: '/paging',
                dataType: 'json',
                data: {
                    keyword: keyword,
                    tag: tag,
                    page: page + 1
                },
                success: function(data) {
                    if (data.errno === 0) {
                        if (data.data.length <= size) {
                            isEnd = true;
                            $loading.hide();
                        }
                        $list.append(listRender({ articles: data.data }));
                        page += 1;
                    }
                },
                complete: function() {
                    loading = false;
                }
            });
        }
    });
}(window));
</script>
<% } %>

<% include inc/footer.html %>
