<% include inc/header.html %>

<div class="container">
    <% if (http.get.msg) { %>
        <div class="alert alert-info fade in" role="alert">
              <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">×</span><span class="sr-only">关闭</span></button>
              <%= http.get.msg %>
        </div>
    <% } %>
    <div class="row">
        <div class="col-md-8 col-lg-9 lf-detail-article">
            <div class="content">
                <header>
                    <h1><%= article.title %></h1>
                    <p class="source">原文地址：<a href="<%= article.url %>" target="_blank"><%= article.url %></a></p>
                    <p>贡献者：<%- getContributor(article) %>， 当前版本：<strong>v<%= article.version %> / <%= formatDate(article.create_time) %></strong></p>
                    <p class="lf-info"><span class="glyphicon glyphicon-tags"></span>
                        <% for (var i = 0, tags = article.tag.split(','); i < tags.length; i++) { %>
                            <% if (tags[i]) { %>
                                <a href="/list?tag=<%= encodeURIComponent(tags[i]) %>"><span class="label label-default"><%= tags[i] %></span></a>
                            <% } %>
                        <% } %></p>
                </header>
                <%- article.content %>
            </div>
            <div class="duoshuo">
                <!-- 多说 -->
            </div>
        </div>
        <div class="col-md-4 col-lg-3 lf-detail-aside">
            <div class="panel panel-default qrcode">
                <div class="panel-heading">本文二维码</div>
                <div class="panel-body text-center"></div>
            </div>
            <div class="panel panel-default version">
                <div class="panel-heading">版本历史</div>
                <div class="panel-body">
                    <ul>
                        <% for (var i = 0; i < relatives.length; i++) { %>
                            <li><a href="/detail/id/<%= relatives[i].id %>">v<%= relatives[i].version %> / <%= formatDate(relatives[i].create_time) %></a>，贡献者：<%- getContributor(relatives[i]) %></li>
                        <% } %>
                    </ul>
                </div>
            </div>
            <div class="panel panel-default latest">
                <div class="panel-heading">最新收录</div>
                <div class="panel-body">
                    <ul>
                        <% for (var i = 0; i < latest.length; i++) { %>
                            <li><a href="/detail/id/<%= latest[i].id %>"><%= latest[i].title %></a>，贡献者：<%- getContributor(latest[i]) %></li>
                        <% } %>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/resource/lib/qrcode/jquery.qrcode.min.js"></script>
<script>
$(function() {
    var $alert = $('.alert-info');
    if ($alert.length > 0) {
        setTimeout(function() {
            $alert.alert('close');
        }, 3e3);
    }

    $('.qrcode .panel-body').qrcode({
        width: 224,
        height: 224,
        text: window.location.href
    });
});
</script>
<% include inc/footer.html %>
