<% include inc/header.html %>

<div class="container">
    <% if (http.get.msg) { %>
        <div class="alert alert-info fade in" role="alert">
              <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">×</span><span class="sr-only">关闭</span></button>
              <%= http.get.msg %>
        </div>
    <% } %>
    <div class="row">
        <div class="col-md-8 col-lg-9 lf-detail-article">
            <div class="content">
                <header>
                    <h1><%= article.title %></h1>
                    <p class="source">原文地址：<a href="<%= article.url %>" target="_blank"><%= article.url %></a></p>
                    <p>贡献者：<%- getContributor(article) %>， 当前版本：<strong><%= getVersion(article) %></strong>，
                        <a href="/capture?url=<%= encodeURIComponent(article.url) %>">内容有误，我要纠错</a></p>
                    <p class="lf-info"><span class="glyphicon glyphicon-tags"></span>
                        <% article.tag.split(',').forEach(function(tag) { %>
                            <% tag = tag.trim(); %>
                            <% if (tag) { %>
                                <a href="/list?tag=<%= encodeURIComponent(tag) %>"><span class="label label-default"><%= tag %></span></a>
                            <% } %>
                        <% }); %></p>
                </header>
                <%- article.content %>
            </div>
            <div class="duoshuo">
                <!-- 多说评论框 start -->
            	<div class="ds-thread" data-thread-key="<%= article.id %>" data-title="<%= article.title %>" data-url="http://lavaflow.75team.com/detail/<%= article.id %>"></div>
                <!-- 多说评论框 end -->
                <!-- 多说公共JS代码 start (一个网页只需插入一次) -->
                <script type="text/javascript">
                var duoshuoQuery = {short_name:"lavaflow"};
            	(function() {
            		var ds = document.createElement('script');
            		ds.type = 'text/javascript';ds.async = true;
            		ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
            		ds.charset = 'UTF-8';
            		(document.getElementsByTagName('head')[0]
            		 || document.getElementsByTagName('body')[0]).appendChild(ds);
            	})();
            	</script>
                <!-- 多说公共JS代码 end -->
            </div>
        </div>
        <div class="col-md-4 col-lg-3 lf-detail-aside">
            <div class="panel panel-default qrcode">
                <div class="panel-heading">本文二维码</div>
                <div class="panel-body text-center"></div>
            </div>
            <div class="panel panel-default version">
                <div class="panel-heading">版本历史</div>
                <div class="panel-body">
                    <ul>
                        <% relatives.forEach(function(article) { %>
                            <li><a href="/detail/<%= article.id %>"><%= getVersion(article) %></a>，贡献者：<%- getContributor(article) %></li>
                        <% }); %>
                    </ul>
                </div>
            </div>
            <div class="panel panel-default latest">
                <div class="panel-heading">最新收录</div>
                <div class="panel-body">
                    <ul>
                        <% latest.forEach(function(article) { %>
                            <li><a href="/detail/<%= article.id %>"><%= article.title %></a>，贡献者：<%- getContributor(article) %></li>
                        <% }); %>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/resource/lib/qrcode/jquery.qrcode.min.js"></script>
<script>
$(function() {
    var location = window.location;
    $('.qrcode .panel-body').qrcode({
        width: 224,
        height: 224,
        text: location.origin + location.pathname
    });
});
</script>

<% include inc/footer.html %>
