.lp-index-jumbotron .form-group {
    display: block;
    width: 100%;
}
.lp-index-jumbotron .form-control {
    height: 34px;
}
.lp-index-jumbotron .btn-lg {
    font-size: 14px;
}

.lp-detail-aside {
    display: none;
}
