body {
    font-family: "Helvetica Neue", Helvetica, "Microsoft Yahei", STHeiTi, sans-serif;
    margin-top: 80px;
}

@font-face {
    font-family: "Glyphicons Halflings";
    src: url("/resource/font/glyphicons-halflings-regular.eot");
    src: url("/resource/font/glyphicons-halflings-regular.eot?#iefix") format("embedded-opentype"),
         url("/resource/font/glyphicons-halflings-regular.woff") format("woff"),
         url("/resource/font/glyphicons-halflings-regular.ttf") format("truetype"),
         url("/resource/font/glyphicons-halflings-regular.svg#glyphicons_halflingsregular") format("svg");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "UniSansHeavyItalicItalic";
    src: url("/resource/font/Uni_Sans_HeavyItalic-webfont.eot");
    src: url("/resource/font/Uni_Sans_HeavyItalic-webfont.eot?#iefix") format("embedded-opentype"),
         url("/resource/font/Uni_Sans_HeavyItalic-webfont.woff") format("woff"),
         url("/resource/font/Uni_Sans_HeavyItalic-webfont.ttf") format("truetype"),
         url("/resource/font/Uni_Sans_HeavyItalic-webfont.svg#UniSansHeavyItalicItalic") format("svg");
    font-weight: normal;
    font-style: normal;
}

.footer {
    margin-top: 20px;
    background-color: #ecf0f1;
}
.footer .text-muted {
    margin: 20px 0;
}

.glyphicon-github {
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url("/resource/img/github-logo.png") no-repeat;
    -webkit-background-size: 16px 16px;
    background-size: 16px 16px;
}

.lf-index-jumbotron {
    margin-top: -20px;
    text-align: center;
}
.lf-index-jumbotron h1,
.navbar .navbar-brand {
    font-family: "UniSansHeavyItalicItalic", Impact, "Helvetica Neue", Helvetica, Microsoft Yahei, STHeiTi, sans-serif;
}
.lf-index-jumbotron .container {
    padding: 0;
}
.lf-index-jumbotron .form-group {
    display: inline-block;
    width: 480px;
}
.lf-index-jumbotron .btn {
    vertical-align: top;
}
.lf-index-jumbotron .alert {
    display: inline-block;
    margin-bottom: 11px;
    width: 579px;
}

#markdownEditor {
    height: 450px;
}

.lf-detail-article header {
    margin-bottom: 10px;
    border-bottom: 1px solid #eee;
}
.lf-detail-article footer {
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px solid #eee;
}
.lf-detail-article header .source {
    word-break: break-all;
}
.lf-detail-article .content img {
    max-width: 100%;
}
.lf-detail-aside .qrcode .panel-body {
    height: 260px;
}
.lf-detail-aside ul {
    padding-left: 15px;
}

.lf-info .glyphicon-tags {
    display: inline-block;
    margin-right: 5px;
    vertical-align: -1px;
    font-size: 14px;
}
.lf-info a {
    display: inline-block;
    vertical-align: 2px;
}
.lf-info .label {
    display: block;
    padding: .2em .6em .3em;
}

.lf-list .lf-info {
    margin-bottom: 2px;
}

.lf-loading {
    margin: 30px;
    text-align: center;
}

.lf-panel {
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.lf-panel > .panel-heading {
    background-color: transparent;
    border-bottom: 2px solid #2c3e50;
}
.lf-panel > .panel-body ul {
    padding-left: 15px;
}

.lf-tags a {
    font-size: 28px;
}
.lf-tags a:hover,
.lf-info a:hover {
    text-decoration: none;
    -webkit-animation: tada .8s;
    animation: tada .8s;
}

@-webkit-keyframes tada {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
    10%, 20% {
        -webkit-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
        transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
    }
    30%, 50%, 70%, 90% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
        transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    }
    40%, 60%, 80% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
        transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    }
    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}
@keyframes tada {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
        -ms-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
    10%, 20% {
        -webkit-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
        -ms-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
        transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
    }
    30%, 50%, 70%, 90% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
        -ms-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
        transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    }
    40%, 60%, 80% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
        -ms-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
        transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    }
    100% {
        -webkit-transform: scale3d(1, 1, 1);
        -ms-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}
