body {
    font-family: "Helvetica Neue", Helvetica, Microsoft Yahei, STHeiTi, sans-serif;
    margin: 70px 0 30px;
}

@font-face {
    font-family: 'Glyphicons Halflings';

    src: url('/resource/font/glyphicons-halflings-regular.eot');
    src: url('/resource/font/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('/resource/font/glyphicons-halflings-regular.woff') format('woff'), url('/resource/font/glyphicons-halflings-regular.ttf') format('truetype'), url('/resource/font/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

.lf-index-jumbotron {
    margin-top: -20px;
    text-align: center;
}
.lf-index-jumbotron .form-group {
    display: inline-block;
    width: 480px;
}
.lf-index-jumbotron .btn {
    height: 46px;
    vertical-align: top;
}
.lf-index-jumbotron .alert {
    display: inline-block;
    width: 553px;
}

#markdownEditor {
    height: 450px;
}

.lf-detail-article header {
    margin-bottom: 10px;
    border-bottom: 1px solid #eee;
}
.lf-detail-article footer {
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px solid #eee;
}
.lf-detail-article header .source {
    word-break: break-all;
}
.lf-detail-article .content img {
    max-width: 100%;
}
.lf-detail-aside .qrcode .panel-body {
    height: 260px;
}
.lf-detail-aside ul {
    padding-left: 15px;
}

.lf-info {
    line-height: 10px;
    vertical-align: bottom;
}
.lf-info span, .lf-info a {
    vertical-align: middle;
}
.lf-info .glyphicon-tags {
    margin-right: 5px;
}

.lf-loading {
    margin: 30px;
    text-align: center;
}
