<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<title>Lavaflow</title>
<link rel="stylesheet" href="http://libs.useso.com/js/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="/resource/css/bootstrap-theme-flatly.min.css">
<style>
.lf-login {
    margin-top: 50px;
    margin-bottom: 50px;
}
@media (min-width: 769px) {
    .lf-login {
        width: 750px;
    }
}
</style>
</head>
<body>
<div class="container lf-login">
    <form role="form" action="/login" method="POST">
        <% if (ret.error) { %>
            <div class="alert alert-danger" role="alert"><%= ret.error %></div>
        <% } %>
        <div class="form-group">
            <label for="lf-login-password">口　令</label>
            <input type="password" name="password" class="form-control" id="lf-login-password">
        </div>
        <button type="submit" class="btn btn-default">Sign in</button>
    </form>
</div>
</body>
</html>
